<div>
  <h2 id="page-heading" data-cy="InfluenceurHeading">
    <span>Influenceurs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-influenceur"
        [routerLink]="['/influenceur/new']"
        *jhiHasAnyAuthority="'ROLE_ADMIN'"
      >
        <fa-icon icon="plus" />
        <span>Create a new Influenceur</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (influenceurs().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Influenceurs found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="nom">
              <div class="d-flex">
                <span>Nom</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="username">
              <div class="d-flex">
                <span>Username</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="photoUrl">
              <div class="d-flex">
                <span>Photo Url</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="bio">
              <div class="d-flex">
                <span>Bio</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="plateforme">
              <div class="d-flex">
                <span>Plateforme</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="categorie">
              <div class="d-flex">
                <span>Categorie</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="scoreGlobal">
              <div class="d-flex">
                <span>Score Global</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (influenceur of influenceurs(); track trackId(influenceur)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/influenceur', influenceur.id, 'view']">{{ influenceur.id }}</a>
              </td>
              <td>{{ influenceur.nom }}</td>
              <td>{{ influenceur.username }}</td>
              <td>{{ influenceur.photoUrl }}</td>
              <td>{{ influenceur.bio }}</td>
              <td>{{ { null: '', INSTAGRAM: 'INSTAGRAM', TIKTOK: 'TIKTOK', YOUTUBE: 'YOUTUBE' }[influenceur.plateforme ?? 'null'] }}</td>
              <td>
                {{
                  {
                    null: '',
                    MODE: 'MODE',
                    LIFESTYLE: 'LIFESTYLE',
                    FOOD: 'FOOD',
                    MUSIQUE: 'MUSIQUE',
                    SPORT: 'SPORT',
                    TECH: 'TECH',
                    VOYAGE: 'VOYAGE',
                    HUMOUR: 'HUMOUR',
                    AUTRE: 'AUTRE',
                  }[influenceur.categorie ?? 'null']
                }}
              </td>
              <td>{{ influenceur.scoreGlobal }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/influenceur', influenceur.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a
                    [routerLink]="['/influenceur', influenceur.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                    *jhiHasAnyAuthority="'ROLE_ADMIN'"
                  >
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(influenceur)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                    *jhiHasAnyAuthority="'ROLE_ADMIN'"
                  >
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (influenceurs().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
