<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-score-sentiment-heading" data-cy="ScoreSentimentCreateUpdateHeading">Create or edit a Score Sentiment</h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_ratioPositif">Ratio Positif</label>
          <input
            type="number"
            class="form-control"
            name="ratioPositif"
            id="field_ratioPositif"
            data-cy="ratioPositif"
            formControlName="ratioPositif"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ratioNegatif">Ratio Negatif</label>
          <input
            type="number"
            class="form-control"
            name="ratioNegatif"
            id="field_ratioNegatif"
            data-cy="ratioNegatif"
            formControlName="ratioNegatif"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ratioNeutre">Ratio Neutre</label>
          <input
            type="number"
            class="form-control"
            name="ratioNeutre"
            id="field_ratioNeutre"
            data-cy="ratioNeutre"
            formControlName="ratioNeutre"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_scoreSentiment">Score Sentiment</label>
          <input
            type="number"
            class="form-control"
            name="scoreSentiment"
            id="field_scoreSentiment"
            data-cy="scoreSentiment"
            formControlName="scoreSentiment"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_influenceur">Influenceur</label>
          <select
            class="form-control"
            id="field_influenceur"
            data-cy="influenceur"
            name="influenceur"
            formControlName="influenceur"
            [compareWith]="compareInfluenceur"
          >
            <option [ngValue]="null"></option>
            @for (influenceurOption of influenceursCollection(); track $index) {
              <option [ngValue]="influenceurOption">{{ influenceurOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
